EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=

# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:striped-ermine-213 # team: slevin-cordeiro, project: spotlight-app-97bc5

EXPO_PUBLIC_CONVEX_URL=https://striped-ermine-213.convex.cloud
